@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.dcs-product p:not(:last-child) {
  margin-bottom: 10px;
}

.nav-link-hover-effect {
  position: relative;
  padding: 4px 0;
  transition: all 0.3s ease-in-out;
}

.nav-link-hover-effect:before {
  content: '';
  background: #377DFF;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.nav-link-hover-effect--active {
  color: #377DFF !important;
}

.nav-link-hover-effect:hover::before {
  width: 100%;
}